*{
    box-sizing:  border-box;
    margin: 0;
    padding: 0;
}

body > header{
    background-color: rgb(37, 37, 37);
    padding: 16px 0;
    color: rgb(209, 209, 209);
}

header li{
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    margin-left: 16px;
}

header li a{
    color: rgb(209, 209, 209);
    text-decoration: none;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.container{
    width: 1366px;
    margin: 0 auto;
}

.article{
    display: flex;
    justify-content: space-between;
}

.article article img{
    width: 100%;
    
}

.article article{
    width: 30%;
}

section{
    padding: 16px 0;;
}

section h2, 
.article article{
    margin-bottom: 16px;
}

.article aticle h3{
    margin-top: 8px;
    margin-bottom: 8px;
}

.article article a{
    background-color: blue;
    color: white;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;
}

.article article a:hover{
    text-decoration: underline;
}

.article article p,
.article article a{
    font-family: Arial, Helvetica, sans-serif;
}

.article article h3{
    font-size: 24px;
}

.article article p{
    width: 100%;
}

section h2{
    font-size: 32px;
}

#esportes {
    background-color: rgba(0,255 ,0 ,0.1 );
}

#esportes .article article a{
    background-color: #009432;
    color: white;
}

#economia{
    background-color: #fdfbad;
}

#economia .article article a{
    background-color: #ff9f1a;
    color: white;
}

#tech{
    background-color: rgb(199, 199, 255);
}
#tech .article article a{
    background-color: rgb(82, 82, 243);
}

#entretenimento{
    background-color: rgb(252, 172, 172);
}

#entretenimento .article article a{
    background-color: rgb(255, 74, 74);
}